services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: minitec_db
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql