services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: minitec_db
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: "root:rootpassword@tcp(db:3306)/minitec_db?multiStatements=true&parseTime=true"
    depends_on:
      - db